* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
}

body {
	background: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 800px;
	width: 800px;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: 1px solid #669;
  border-radius: .5em;
  padding: 1em 2em;
  transition: background-color .15s ease;
}

.btn:hover {
  background: #669;
}

.game {
	background: #669;
}

.how-to {
  color: #ccc;
  font-weight: 100;
}

.score {
  font-size: 3em;
}

.grid {
	width: 32em;
	height: 32em;
	display: grid;
	padding: 1px;
	gap: 1px;
}

.block {
	background: #000;
}

.snake {
	background: orange;
}

.food {
	background: green;
}
